:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.logout-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

html, body, #root, .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top */
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 30vh;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px;
  text-align: center;
}

.footer-logo {
  width: 50px; 
  height: auto;
  margin-right: 10px; 
}

.footer-text {
  font-size: 14px;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column; 
    text-align: center;
  }
  
  .footer-logo {
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2b2b2b;
  color: #f4f4f4;
}

/* Main page container */
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #555557;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(243, 242, 242, 0.1);
}

.header-title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header-logo {
  width: 80px;
  height: auto;
  margin-right: 15px;
}

.header-subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.quote {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 15px;
  font-style: italic;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 2rem;
  }

  .header-logo {
    width: 60px;
    margin-right: 10px;
  }

  .header-subtitle {
    font-size: 1.3rem;
  }

  .quote {
    font-size: 1rem;
  }
}
